.form-container{
    display: flex;
    flex-wrap: wrap;
}

.form-container div {
    width: 50%;
}

.form-container input{
    width: 90%;
    padding:10px;
    margin:10px 0px 30px 0;
    border-radius: 8px;
}

textarea{
    width: 97% !important;
    height: 75px !important;
    margin-bottom: 25px;
}

.submit-button{
    float:right;
    padding:10px 15px;
    margin: 0px 20px;
    width:250px;
    background-color: #403549;
    color: #ffffff;
    border: 1px solid #403549;
    border-radius: 5px;
}

.errors{
    margin: 0 !important;
    color: red !important;
    font-size: 12px;
}